@{
    var serializer = new JavaScriptSerializer();
    var columnJson = serializer.Serialize(Model.columns);
    var resourceJson = serializer.Serialize(Model.resources);  
}

<!DOCTYPE html>
<html>
    <head>
        <title>Localization Resource Editor</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="@Url.Content("~/content/css/master.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="container">
            <div id="controls">
                <h4>Visible Columns</h4>
                <div id="columns"></div>
            </div>
            <div id="resources">
                <table id="list-resources" class="report"></table>
            </div>
        </div>

        <!-- JS Templates -->
        <script type="text/template" id="column-picker">
            <% _.each(columns, function(column) { %>
                <div class="<%= column.enabledCssClass %>">
                    <input type="checkbox" id="column-<%= column.id %>" data-ix="<%= column.id %>" <%= column.checkedHtmlAttribute %>/>
                    <label for="column-<%= column.id %>"><%= column.ColumnName %></label>
                </div>
            <% }); %>
        </script>

        <script type="text/template" id="resource-table">
            <thead>
                <tr>
                    <% _.each(columns, function(column) { %>
                        <th data-ix="<%= column.id %>" class="<%= column.sortCssClass %>">
                            <%= column.ColumnName %>
                        </th>
                   <% }); %>                 
                </tr>
            </thead>
            <tbody>
                <% _.each(resources, function(resource) { %>
                    <tr>
                        <% _.each(columns, function(column) { %>
                             <td class="limit"><%= resource[column.ColumnName] %></td>
                        <%});%>
                    </tr>
                <%});%>
            </tbody>     
        </script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/underscore.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/lib/backbone.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/content/js/helper/util.js")"></script>

        <!-- View Data for JS -->
        <script type="text/javascript">
            (function () {
                var Editor = this.Editor = this.Editor || {};

                Editor.bootstrapData = {
                    columns: @Html.Raw(columnJson),
                    resources: @Html.Raw(resourceJson)
                }

            })(this);
        </script>

        <script type="text/javascript" src="@Url.Content("~/content/js/app.js")"></script>
    </body>
</html>

